<h3><span class="label label-default">活动详情</span></h3>
<hr/>
<div class="jumbotron text-left">
	<h1>{{activity.type}}活动</h1><small>{{activity.status}}</small>
	<p>日期：{{ctivity.date}}  [{{activity.startTime}} ~ {{activity.endTime}}]</p>
	<p>地点：{{activity.address}}</p>
	<p>内容：{{activity.content}}</p>
	<p>费用：</p>
	
	<p>计划人数:{{activity.maxUsers}}&nbsp;&nbsp;&nbsp;&nbsp;已报名人数:{{activity.cntUsers}}</p>
	<small>报名人数少于{{activity.minUsers}}人时，活动取消。</small>
</div>
<button class="btn btn-primary btn-block" data-ng-click="onShare()"><span
	class="glyphicon glyphicon-floppy-save"></span>分享</button>
<a href="#/mine" class="btn btn-warning btn-block"><span
	class="glyphicon glyphicon-remove"></span> 取消</a>

